.navbar  {
  height: 75px;
      //background: -webkit-linear-gradient(328deg, rgba(49,49,93,1) 50%, rgba(49,49,93,1) 45%, rgba(41,41,77,1) 47%, rgba(49,49,93,1) 100%, rgba(49,49,93,1) 77%);
    background: -webkit-linear-gradient(135deg, #4752b5 30%, #4752b5 20%, #6b84ff 27%);
    background: -o-linear-gradient(135deg, #4752b5 30%, #4752b5 20%, #6b84ff 27%);
    background: -moz-linear-gradient(135deg, #4752b5 30%, #4752b5 20%, #6b84ff 27%);
    background: linear-gradient(135deg, #4752b5 30%, #4752b5 20%, #6b84ff 27%);
    background: linear-gradient(135deg, #4752b5 30%, #4752b5 20%, #6b84ff 27%);
}