footer {
    text-align: center;
    background: #232960;
    color: #25B28F;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 14;
    height: 270px;
    
}